<head>
    <title>Hopkin's Game Corner</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Remember, choose wisely!</h1>
    <div class="well">
      <form action="/WordCounter/Result" method="post">
        <label for="manywords">Enter a sentance to scan.</label>
        <input id="manywords" name="manywords" type="text" class="form-control">
        <label for="singleword">Enter word to scan for.</label>
        <input id="singleword" name="singleword" type="text" class="form-control">
        <button type="submit" class="btn btn-success">Play!</button>
      </form>
    </div>
  </div>
</body>
