<head>
    <title>Hopkin's Game Corner</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>
  <div class="container">
    <h1>Welcome to Word Counter!</h1>
    <h3>Please read the instructions, and then click the button to begin</h3>
    <div class="well">
      <p>Word Counter is a game of both skill and luck, dexterity and wit.</p>
      <p>Carefully choose a sentance to enter into the first field.</p>
      <p>And then, with composure and grace, enter a word in the field below.</p>
      <p>If the stars align, and your luck is lucky, you shall be told how many times the word you entered appears in the sentance you entered.</p>
    </div>
    <h5>Shall we Begin?</p>
    <form action="/WordCounter/CreateForm">
      <button type="submit" class="btn btn-success">Begin!</button>
    </form>
    </div>
  </div>
</body>
