<head>
    <title>Hopkin's Game Corner</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome to Hopkin's Game Corner!</h1>
    <h3>Choose a game you would like to play</h3>
    <ul>
      <li><a href="/WordCounter">Word Counter</a></li>
      <li>Sport Fishin' (Under Construction)</li>
      <li>Black Jack (Under Construction)</li>
      <li>Virtual Pet (Under Construction)</li>
    </ul>
  </div>
</body>
