<head>
    <title>Scrabble Score</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Hopkin's Game Corner</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li><a href="/WordCounter">Word Counter</a></li>
              <li class="active"><a href="/ScrabbleScore">Scrabble Score</a></li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <h1>Welcome to Scrabble Score!</h1>
    <h3>Please read the instructions, and then click the button to begin</h3>
    <div class="well">
      <p>Scrabble Score is not so much a game as a resource for a game.</p>
      <p>Scrabble is a word game where players place letters on a board to form words.</p>
      <p>Each letter has a score associated with it, and players score points when they play words.</p>
      <p>This program will let you know what the unmodified score is for a word played in Scrabble.</p>
      <p>Note that some tiles on the game board include modifiers for when words/letters are places on them, however this program only shows the unmodified score.</p>
    </div>
    <h5>Let's score some words!</p>
    <form action="/ScrabbleScore/CreateForm">
      <button type="submit" class="btn btn-success">Start!</button>
    </form>
    </div>
  </div>
</body>
