<head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Hopkin's Game Corner</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/WordCounter">Word Counter</a></li>
              <li><a href="/ScrabbleScore">Scrabble Score</a></li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <h1>Remember, choose wisely!</h1>
    <div class="well">
      <form action="/WordCounter/Result" method="post">
        <label for="manywords">Enter a sentance to scan.</label>
        <input id="manywords" name="manywords" type="text" class="form-control" required>
        <label for="singleword">Enter word to scan for.</label>
        <input id="singleword" name="singleword" type="text" class="form-control" required>
        <h5><button type="submit" class="btn btn-success">Play!</button></h5>
      </form>
    </div>
  </div>
</body>
