<head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Hopkin's Game Corner</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/WordCounter">Word Counter</a></li>
              <li><a href="/ScrabbleScore">Scrabble Score</a></li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <h1>Here are your search results so far:</h1>
    @foreach(var words in Model)
    {
      <h4>In the sentance: @words.GetMultpleWords(),</h4>
      <h4>The word: @words.GetSingleWord(),</h4>
      <h4>Was repeated @words.WordRepeatCounter() time(s).</h4>
      <h4>_______________</h4>
    }
    <h5>
    <form action="/WordCounter/CreateForm">
      <button type="submit" class="btn btn-success">Play Again</button>
    </form>

    <form action="/">
      <button type="submit" class="btn btn-success">Home</button>
    </form>
  </h5>
  </div>
</body>
