<head>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
</head>
<body>

  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="/">Hopkin's Game Corner</a>
          </div>
          <ul class="nav navbar-nav">
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/WordCounter">Word Counter</a></li>
              <li><a href="/ScrabbleScore">Scrabble Score</a></li>
          </ul>
      </div>
  </nav>

  <div class="container">
    <h1>Success!<h1>
    <h5>In the sentance: @Model.GetMultpleWords().</h5>
    <h5>The word: @Model.GetSingleWord().</h5>
    <h5>Was repeated @Model.WordRepeatCounter() time(s).

    <form action="/WordCounter/CreateForm">
      <button type="submit" class="btn btn-success">Play Again</button>
    </form>

    <form action="/WordCounter/Results" method="post">
      <button type="submit" class="btn btn-success">View Searches</button>
    </form>

    <form action="/">
      <button type="submit" class="btn btn-success">Home</button>
    </form>
  </div>
</body>
