body
{
  background-image: url("../img/bg.png");
}

button
{
  margin-top: 25px;
}

h1, h2, h3, h4, h5, ul
{
  text-align: center;
}

img
{
    height: 75px;
}

.nav.navbar-nav li a {
    color: #edd0fb;
}
